<div class="content-detail-panel">
  <a (click)="display = ! display">
    <span *ngIf="!display">[+] <small>detail panel...</small></span>
    <span *ngIf="display">[ - ]</span>
  </a>
  <div *ngIf="display">
    <p>
      <small>
        If you change your username from here, the nav component will know!!
      </small>
    </p>
    <form class="change-user">
      <input name="userName" [(ngModel)]="model" type="text">
      <input type="button" value="try it" (click)="changeUser($event)">
      <input type="button" value="try it nerdy" (click)="updateUser($event)">
    </form>
  </div>
</div>
