<div [formGroup] = 'detailForm' class="content-detail-panel">
  <a (click)="display = !display">
    <span *ngIf="!display">[+] <small>detail panel...</small></span> <span *ngIf="display">[X]</span>
  </a>
  <div class="container" *ngIf="display">
    <div class="content-detail-panel-edit" *ngIf="model.id">
      [edit here] <strong>id:</strong><small>{{ model.id }}</small>
      <div>
        <strong>model:</strong> <small>{{ model.name }}</small>
      </div>
      <div>
        <strong>passengers:</strong> <small>{{ model.passengers }}</small>
      </div>
      <div>
        <strong>crew: </strong><small>{{ model.crew }}</small>
      </div>
      <div>
        <strong>manufacturer:</strong> <small>{{ model.manufacturer }}</small
        >}
      </div>
    </div>
    <span><a (click)="addOne()">[+]</a></span>
    <div *ngIf="model.id">
    <div  *ngFor="let event of model.detailEvents; let index = index">
      <!-- <div formControlName="event.id">{{event.displayId}}-{{event.description}}<a (click)="removeOne(event.id)">[-]</a></div> -->
      <div>{{event.displayId}}-{{event.description}}<a (click)="removeOne(event.id)">[-]</a></div>
    </div>
    </div>
  </div>
</div>
