<div class="content-detail-panel">
  <a (click)="display = !display">
    <span *ngIf="!display">[+] <small>detail panel...</small></span> <span *ngIf="display">[X]</span>
  </a>
  <div *ngIf="display">
    <div class="content-detail-panel-edit" *ngIf="model.id">
      [edit here] <strong>id:</strong><small>{{ model.id }}</small>
      <div>
        <strong>model:</strong> <small>{{ model.name }}</small>
      </div>
      <div>
        <strong>passengers:</strong> <small>{{ model.passengers }}</small>
      </div>
      <div>
        <strong>crew: </strong><small>{{ model.crew }}</small>
      </div>
      <div>
        <strong>manufacturer:</strong> <small>{{ model.manufacturer }}</small
        >}
      </div>
    </div>
  </div>
</div>
