body {
  font-family: Arial, Helvetica, sans-serif;
}

.change-user {
  margin: 10px;
  font-weight: 450;
  font-size: 12px;
}

app-nav {
  border: 2px solid green;
   padding: 5px;
 }

 app-nav > small {
   font-size: 14px;
   color: blue;
 }

.content {
  border: 2px solid green;
  margin-top: 21px;
}

.content-left {
  max-width: 250px;
  display: flex;
  border: 2px solid #d2d2d2;
  background-color: #f2f2d2;
  margin: 21px 0px 0px 12px;
  font-size: 12px;
}

.content-left > ul > li {
  font-style: italic;
}

.content-toolbar {
  border: 2px solid greenyellow;
  font-size: 14px;
}

.content-data-table {
  margin-top: 20px;
  background-color: #daddda;
}

.content-data-table > table {
  border: 1px solid black;
  /* display: flex; */
}

.content-data-table > table > thead {
  border: 2px solid black;
  background-color: #d8f7d8;
  /* display: flex; */
}

.content-detail-panel {
  border: 2px solid #bada55;
  background-color: #d8f7d8;
  max-width: 350px;
  padding: 5px;
  font-size: 13px;
}

.content-detail-panel > small {
  padding-top: 12px;
  font-size: 14px;
}
