body {
  font-family: Arial, Helvetica, sans-serif;
}

.change-user {
  margin: 10px;
  font-weight: 450;
  font-size: 12px;
}

app-nav {
  border: 2px solid red;
   padding: 5px;
 }

 app-nav > small {
   font-size: 14px;
   color: blue;
 }

.content {
  border: 2px solid green;
  margin-top: 21px;
}
